html {
  box-sizing: border-box;
}

*, *::before, *::after; {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Dosis";
}

header {
  padding: 0em;
  background-image: url("../images/waves-texture.png");
}

.header-beetle-left {
  width: 10%;
  float: left;
  padding: 0.5em 0 0.5em 0;
}

.header-beetle-right {
  width: 10%;
  float: right;
  top: 30px;
  padding: 0.5em 0 0.5em 0;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 0.25em 0 0.25em 0;
  margin: 0;
  float: left;
  width: 80%;
  text-align: center;
  color: #512200;
}

nav {
  clear: both;
  margin: 0;
  overflow: hidden;
  background-color: rgba(81, 34, 0, 0.5);
  text-align: center;
}

nav li {
  float: left;
  width: 25%;
  list-style-type: none;
  display: block;
  padding: 0 0 0.75em 0;
  font-size: 1.5em
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: rgba(81, 34, 0, 0.4);
  padding: 1em 1.25em 1em 1.25em;
}

.main {
  clear: both;
  background-image: url("../images/dirt.jpg");
  margin: 0;
  padding-top: 10em;
}

h2 {
  color: white;
  text-align: center;
  font-weight: 400;
  padding: 4em 1em 1em 1em;
  margin: 0;
  background-image: linear-gradient(to bottom, transparent, black);
  bottom: 1em;
  font-size: 2rem;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
  color: white;
  background-color: green;
  border-radius: 20px;
  padding: 0.5em 2em 0.5em 2em;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.5);
  background: linear-gradient(to bottom, #6dbd00, #3d8800);
  font-size: 1.5em;
  position: absolute;
}

.boxes1 {
  position: relative;
  clear: both;
}

.boxes2 {
  position: relative;
  clear: both;
}

.pic-left {
  float: left;
  width: 50%;
}

.pic-right {
  float: right;
  width: 50%;
}

.btn-left {
  top: 7em;
  left: 10%;
}

.btn-right {
  top: 7em;
  right: 10%;
}

footer {
  clear: both;
  background-color: rgba(81, 34, 0, 0.5);
  margin: 0 auto;
}

.footer-beetle {
  width: 30px;
  padding: 0.5em 0 0.5em 0;
  margin: 0 auto;
}
