html {
  box-sizing: border-box;
}

*, *::before, *::after; {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Dosis";
}

header {
  padding: 1em 0 4em 0;
}

.header-beetle-left {
  width: 10%;
  float: left;
}

.header-beetle-right {
  width: 10%;
  float: right;
  top: 30px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: 0;
  float: left;
  width: 80%;
  text-align: center;
}

nav {
  clear: both;
  margin: 0;
  overflow: hidden;
  background-color: #512200;

  font-size: 1.125rem;
  text-align: center;
}

nav li {
  float: left;
  width: 25%;
  list-style-type: none;
  display: block;
}

.main {
  clear: both;
  background-image: url("../images/dirt.jpg");
  margin: 0;
  padding-top: 10em;
}

h2 {
  color: white;
  text-align: center;
  font-weight: 400;
  padding: 4em 1em 0 1em;
  background-image: linear-gradient(to bottom, transparent, black);
}

.pic-left {
  width: 50%;
  float: left;
  position: relative;
}

.pic-right {
  width: 50%;
  float: right;
  position: relative;
}

.btn-left {
  position: absolute;
  background-color: green;
  border-radius: 10px;
}

.btn-right {
  position: absolute;
  background-color: green;
  border-radius: 10px;
}

footer {
  clear: both;
}

.footer-beetle {
  width: 10%;
}
footer {
  clear: both;
  background-color: #512200;

}
